* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font {
    font-family: 'Open Sans', sans-serif;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.middle {
    float: left;
}

.right {
    float: right;
}

.button{
    background-color: #0063ff;
    color: #ffffff;
    padding: 0 20px;
    max-height: 30px;
    line-height: 30px;
    width: fit-content;
}

a{
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 40px;
    padding-bottom: 50px;
}

/* Navbar */

.navbar {
    height: 50px;
    line-height: 50px;
}

.logo {
    margin-left: 20px;
}

.logo img {
    vertical-align: middle;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: inline-block;
    padding-top: 4px;
    margin: 0 30px;
}

.navigation a {
    text-decoration: none;
    color: #000000;
}

/* Jumbotron */

.jumbotron {
    width: 100%;
    background-color: #add1ea;
    padding-top: 50px;
}

.jumbo {
    margin: 0 auto;
    padding: 0 160px;
}

.title {
    font-size: 80px;
    margin-bottom: 50px;
}

.jumbo-content {
    width: 34%;
    padding-right: 60px;
}

.jumbo-content p {
    padding-bottom: 30px;
}

.jumbo-content .button {
    margin-bottom: 10px;
}

.jumbo-content .fas {
    font-size: 50px;
}

.jumbo-img {
    width: 66%;
}

.jumbo-img img {
    width: 100%;
    margin-bottom: -80px;
}

/* Main */

/* Plan */

.plan {
    padding-top: 200px;
}

.plan span {
    padding-right: 30px;
}

.blue-circle::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f192";
    color: #0063ff;
    padding-right: 5px;
}

.gray-circle::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    color: #d9d9db;
    padding-right: 5px; 
}

/* Colonne */

.plan-row {
    padding: 50px 0;
    margin-bottom: 50px;
}

.column {
    height: 1100px;
}

.column.left {
    width: calc(100%/3 - 20px);
}

.column.middle {
    width: calc(100%/3 - 20px);
    margin: 0 30px;
}

.column.right {
    width: calc(100%/3 - 20px);
}

.column-title {
    border: 1px solid #d0d0d3;
    text-align: center;
    padding: 5px 0;
}

.user::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f007";
    padding-right: 5px; 
}

.column-content {
    border-right: 1px solid #d0d0d3;
    border-bottom: 1px solid #d0d0d3;
    border-left: 1px solid #d0d0d3;
    height: 100%;
    padding: 40px 40px;
}

.column-content h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

.column-price {
    padding-bottom: 10px;
}

.column-month {
    font-size: 15px;
    color: #5f7482;
    padding-bottom: 50px;
}

.folder::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f07b";
    padding-right: 5px; 
}

.pencil::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f303";
    padding-right: 5px;
}

.button.trial {
    margin: 50px 0;
    width: 100%;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.gray-line {
    border-top: 1px solid #d0d0d3;
    width: 60px;
    margin: 40px 0;
}

.points h3 {
    font-size: 20px;
}

.points {
    list-style: none;
}

.points.proper li {
    margin-bottom: 20px;
}

.check::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    padding-right: 5px;
    color: #0063ff;
}

.building::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f1ad";
    padding-right: 5px;
}

.user-plus::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
    padding-right: 5px;
}

.smile::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f118";
    padding-right: 5px;
}

/* Team */

.team {
    padding-bottom: 100px;
}

.team h4 {
    font-size: 20px;
    margin-bottom: 25px;
}

/* Partner */

.partner {
    padding-bottom: 100px;
}

.partner-img {
    width: 60%;
}

.partner-img img {
    width: 100%;
}

.partner-content {
    width: 40%;
    padding-left: 50px;
    padding-top: 40px;
}

.partner-content h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.button-partner {
    margin-top: 40px;
    color: #000000;
    background: none;
    border: 1px solid #000000;
}

/* Business */

.side {
    float: left;
}

.business {
    padding-bottom: 80px;
}

.business.side {
        width: calc(100%/3 - 20px);
}

.business.middle {
    width: calc(100%/3 - 20px);
    margin: 0 30px;
}

.business img {
    width: 100%;
}