* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font {
    font-family: 'Open Sans', sans-serif;
}

.row {
    width: 100%;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button{
    background-color: #0063ff;
    color: #ffffff;
    padding: 0 20px;
    max-height: 30px;
    line-height: 30px;
    width: fit-content;
}

/* Navbar */

.navbar {
    height: 50px;
    line-height: 50px;
}

.logo {
    margin-left: 20px;
}

.logo img {
    vertical-align: middle;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: inline-block;
    padding-top: 4px;
    margin: 0 30px;
}

.navigation a {
    text-decoration: none;
    color: #000000;
}

/* Jumbotron */

.jumbotron {
    width: 100%;
    background-color: #add1ea;
    padding-top: 50px;
}

.jumbo {
    margin: 0 auto;
    padding: 0 160px;
}

.title {
    font-size: 90px;
    margin-bottom: 50px;
}

.jumbo-content {
    width: 34%;
    padding-right: 60px;
}

.jumbo-content p {
    padding-bottom: 30px;
}

.jumbo-content .button {
    margin-bottom: 10px;
}

.jumbo-content .fas {
    font-size: 50px;
}

.jumbo-img {
    width: 66%;
}

.jumbo-img img {
    width: 100%;
    margin-bottom: -80px;
}